/*****************************************************
* cloud.css_t
* ~~~~~~~~~~~
*
* stylesheet for "Cloud" theme for Sphinx.
*
* :copyright: Copyright 2011-2012 by Assurance Technologies
* :license: BSD
*
*****************************************************/

div.document.sidebar-hidden div.bodywrapper {
  margin-left: 0;
}

div.sphinxsidebar
{
  margin-top: 16px;
  width:      3in;

  font-size:     90%; /* dimsnione testo barra laterale */
  line-height:   1.25em;
  margin-bottom: 16px;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;

  background: var(---pannello-sinistro-bg);
  border: 1px solid var(---pannello-sinistro-bordo);

  -moz-border-radius:    var(---pannello-sinistro-ray);
  -webkit-border-radius: var(---pannello-sinistro-ray);
  -o-border-radius:      var(---pannello-sinistro-ray);
  -ms-border-radius:     var(---pannello-sinistro-ray);
  border-radius:         var(---pannello-sinistro-ray);

  -moz-box-shadow:    1px 1px 1px rgba(0,0,0,.05);
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.05);
  -o-box-shadow:      1px 1px 1px rgba(0,0,0,.05);
  -ms-box-shadow:     1px 1px 1px rgba(0,0,0,.05);
  box-shadow:         1px 1px 1px rgba(0,0,0,.05);
}

div.document.sidebar-hidden div.sphinxsidebar { display: none; }

div.sphinxsidebarwrapper
{
  padding: 10px 0 0 10px;
}

div.sphinxsidebar h3,
div.sphinxsidebar h4
{
  padding: 3px;
  margin: 24px 36px 0 0; /* spaziatura top/bottom */
  font-family: var(---font1), serif;
  font-weight: normal;
  color: var(---colore-quick-search); /* Colore Quick Search */
}

div.sphinxsidebar h3 { font-size: 1.4em; }
div.sphinxsidebar h4 { font-size: 1.3em; }

div.sphinxsidebar h3 a,
div.sphinxsidebar h4 a
{
  color: var(---colore-toc); /* colore Table of Contents */
}

div.sphinxsidebar p
{
  color: #777777;
}

div.sphinxsidebar p.topless
{
  margin: 10px 10px 10px 10px;
}

div.sphinxsidebar ul
{
  margin:       10px;
  margin-right: 0;
  padding:      0;
  color:        #777777;
}

div.sphinxsidebar a
{
  color: #003469;
  border: 1px solid transparent;
  border-width: 1px 0;
}

div.sphinxsidebar a:hover
{
  color: #d39110;
  background: #fff9e4;
  border-color: #F8D186;
  text-decoration: none;
}

div.sphinxsidebar ul li a
{
  overflow: hidden;
  white-space: nowrap;
}

div.sphinxsidebar ul li a:hover
{
  display: inline-table;
  min-width: 98%;
  min-width: calc(100% - 5px);
}

div.sphinxsidebar a:active
{
  color: #777777;
}

div.sphinxsidebar p.logo
{
  margin: 20px 6px 6px 6px; /* centratura logo */
  text-align: center;
  max-width: 92%;
}

div.sphinxsidebar p.logo a
{
  display: inline-block;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}


div.sphinxsidebarwrapper > h3:first-child,
div.sphinxsidebarwrapper > h4:first-child,
div.sphinxsidebarwrapper > div:first-child > h3:first-child,
div.sphinxsidebarwrapper > div:first-child > h4:first-child
{
  margin-top: .2em;
}

div.sphinxsidebar ul,
div.sphinxsidebar ul ul,
div.sphinxprev p.topless,
div.sphinxnext p.topless
{
  list-style: none;
  margin-left: 0;
}

div.sphinxsidebar ul ul
{
  margin-left: 1.5em;
}


div.sphinxsidebar ul a,
div.sphinxprev a,
div.sphinxnext a
{
  position: relative;
  display: block;
  padding: 1px 4px 3px 5px;
  margin: 0 5px 0 0;
  border: 1px solid transparent;

  -moz-border-radius:    3px;
  -webkit-border-radius: 3px;
  -o-border-radius:      3px;
  -ms-border-radius:     3px;
  border-radius:         3px;
}

div.sphinxsidebar ul a:hover,
div.sphinxprev a:hover,
div.sphinxnext a:hover
{
  background: #fff9e4;
  border-color: #F8D186;
  color: #d39110;
  text-decoration: none;
}

div.sphinx-toc ul a:not([href^="#"]):hover
{
  position: relative;
  overflow: visible;
}

div.sphinx-toc ul a:not([href^="#"]):hover:before
{
  content: "⇒";
  position: absolute;
  right: 100%;
  font-size: 1.5em;
  margin-right: 4px;
  opacity: 0.7;
}

div.sphinxglobaltoc ul a[href="#"]
{
  font-style: italic;
}

div.sphinxglobaltoc ul a:not([href*="#"])
{
  font-size: 0.95em;
  font-style: italic;
}

div.sphinx-toc li
{
  position: relative;
}

div.sphinx-toc li:before
{
  position: absolute;
  left: -0.8em;
  color: #d39110; /* colore  "▶" */
}

div.sphinx-toc li.current.active:not(.focus):before
{
  content: "▼";
  top: 0.1em;
  opacity: 0.5;
}

div.sphinx-toc li.focus.local:before
{
  content: "▶";
  opacity: 0.7;
}

div.sphinx-toc > ul:not(:hover) li.focus.child:before
{
  content: "⇒";
  opacity: 0.5;
  font-size: 1.5em;
  margin-left: -4px;
}

div.sphinx-toc li.focus.local > a:not(:hover)
{
  color: #d39110; /* colore testo a desta  "▶" */
}

div.sphinx-toc li.toc-toggle > a:after
{
  content: "[–]";
  padding-left: .25em;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

div.sphinx-toc li.toc-toggle.closed > a:after
{
  content: "[+]";
}

div#searchbox {
  margin-right: 10px; /* make this match sphinxsidebarwrapper left margin */
}

div#searchbox form > div {
  display: inline-block;
  margin-right: -0.4em;
}

div.sphinxsidebar input,
h1#search-documentation ~ form input
{
  border: 1px solid rgba(0,0,0,.15);
  font-family: sans-serif;
  font-size: 1em;
}

div#searchbox input[type="submit"],
h1#search-documentation ~ form > input[type="submit"]
{
  background: var(---tasto-go-bg);

  -moz-border-radius:    0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  -o-border-radius:      0 5px 5px 0;
  -ms-border-radius:     0 5px 5px 0;
  border-radius:         0 5px 5px 0;
}

div#searchbox input[type="submit"]:hover,
h1#search-documentation ~ form input[type="submit"]:hover,
button.sidebar-toggle#sidebar-hide:hover,
button.sidebar-toggle#sidebar-show:hover,
.highlight .copybutton:hover
{
  background: #fff9e4;
  color: #d39110;
  border-color: #F8D186;
}

h1#search-documentation ~ form input[type="text"]:focus,
div.sphinxsidebar input[type="text"]:focus
{
  border-color: #F8D186;
}

div.sphinxsidebar button:hover:not(:active),
div.sphinxsidebar input[type="submit"]:hover:not(:active),
h1#search-documentation ~ form input[type="submit"]:hover,
button.sidebar-toggle:hover:not(:active)
{
  -moz-box-shadow:    1px 1px 2px -1px rgba(0,0,0,0.5);
  -webkit-box-shadow: 1px 1px 2px -1px rgba(0,0,0,0.5);
  -o-box-shadow:      1px 1px 2px -1px rgba(0,0,0,0.5);
  -ms-box-shadow:     1px 1px 2px -1px rgba(0,0,0,0.5);
  box-shadow:         1px 1px 2px -1px rgba(0,0,0,0.5);
}

button.sidebar-toggle::-moz-focus-inner
{
  border: 0;
}

div.sphinxsidebar .searchtip
{
  color: #999999;
}

#searchbox .highlight-link a[href$="hideSearchWords()"]
{
  display: block;
  padding: 0 1em;
  font-size: 80%;
  text-align: right;
}

#searchbox .highlight-link a[href$="hideSearchWords()"]:before
{
  content: "\00D7";
  font-weight: bold;
  padding-right: 0.25em;
}

.sidebar-toggle-group
{
  position: absolute;
  width: 3in;
  top: 0;
  left: 0;
  z-index: 1;
}

.sidebar-toggle-group.no-js { display: none; }

div.document.sidebar-hidden .sidebar-toggle-group
{
  width: auto;
}

div.document.document-hidden .sidebar-toggle-group
{
  width: 100%;
}

button.sidebar-toggle
{
  margin: 0;
  padding: 6px 12px;

  color: #777777;
  font-size: 1em;
  white-space: nowrap;
}

button#sidebar-hide
{
  position: absolute;
  top:   16px;
  right: 0;
  background: transparent;
  border: 1px solid rgba(0,0,0,.05);
  border-bottom-left-radius: 0.7em;
}

button#sidebar-show
{
  position: absolute;
  top: 0;
  left: 10px;

  background: #F2F2F2;
  border: 1px solid rgba(0,0,0,.15);

  border-bottom-right-radius: 0.7em;
  border-bottom-left-radius: 0.7em;
}

#table-of-contents > h1,
h1#search-documentation
{
  padding: 6px 10px;
  background-color: #84A6C7;
  border: 1px solid rgba(0,0,0,.125);
  border-width: 0 0 0 6px;
  color: #FFF; /* colore testo sezioni */
  /* text-shadow: 1px 1px rgba(0,0,0,.125); */

  -moz-border-radius:    5px;
  -webkit-border-radius: 5px;
  -o-border-radius:      5px;
  -ms-border-radius:     5px;
  border-radius:         5px;
}

#table-of-contents > h1,
h1#search-documentation
{
  margin: 0.8em 1px 0.8em 1px;
}

#table-of-contents > h1,
h1#search-documentation
{
  margin-top: 0;
}

.toctree-wrapper.highlight-pages:not(.hide-sections) li.page > a
{
  font-weight: bold;
}

.toctree-wrapper.space-pages li.page
{
  margin-top: 1em;
}

.toctree-wrapper.hide-sections li:not(.page) {
  list-style: none;
  margin-left: -2.5rem;
}
.toctree-wrapper.hide-sections li:not(.page) > a { display: none; }


div.sphinxsidebar code.literal
{
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}
